.explorer {
  /* width: 50vw; */
  text-align: left;

  min-width: 320px;
  max-width: 1280px;
}

.path {
  display:flex;
  /* column-gap: .5rem; */
}

.path button {
  padding: .5rem
}

ul {
  display: flex;
  flex-direction: column; 
  row-gap: .5rem;
}

li {
  text-decoration: none
}

li button {
  padding: .5rem
}

li button .icon {
  font-size: .8em;
  padding-right: .8em; 
}
